
 *{
    padding: 0;
    margin: 0;
}
body{
    background-color:#211134;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

  
  body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }



/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 668px) 
  and (max-device-width: 2150px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
}


  /* Portrait and Landscape */
@media only screen 
and (min-device-width: 275px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
   
  
    .cer1 {
        position: absolute;
        width: 215px;
        height: 202px;
        left: 107px;
        top: 344px;
        background: #0C445B;
        filter: blur(65px);    
        border-radius: 50%;
        display: inline-block;
      }

      .cer2{
        position: absolute;
        width: 215px;
        height: 202px;
        left: 220px;
        top: 574px;
        border-radius: 50%;
        background: #420C58;
        filter: blur(65px);
      }
     
      /* .text{
          text-align: center;
          color: aliceblue;
      }
} */






