

 *{
    padding: 0;
    margin: 0;
}
body{
  background-color: #211134;
}
.cer1 {
  position: absolute;
  width: 215px;
  height: 202px;
  left: 107px;
  top: 344px;
  background: #0C445B;
  filter: blur(65px);    
  border-radius: 50%;
  display: inline-block;
}

.cer2{
  position: absolute;
  width: 215px;
  height: 202px;
  left: 220px;
  top: 574px;
  border-radius: 50%;
  background: #420C58;
  filter: blur(65px);
}



